.cabecalho-tabela-moda {
    background-color: #BB86FC;
}
.linhas-tabela {
    background-color: #424250;
}
.cabecalho-tabela-casa {
    background-color: #00C4B4;
}
.fonte-tabela {
    color: white;
    text-align: center;
}